@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;

    --body-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.section__title{
    text-align: center;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: .75rem 2.5rem;
    border-radius: 10px;
    transition: .3s;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/*==================== NAV ====================*/

.nav {
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}

.nav__icon, 
.nav__close, 
.nav__toggle {
    display: none;
}

@media screen and (max-width: 820px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        background-color: white;
        box-shadow: 0 3px 2px -2px gray;
        transition: .3s;
    }

    .nav__close, 
    .nav__toggle {
        position: absolute;
        right: 1.3rem;
        top: .5rem;
        cursor: pointer;
        display: initial;
    }

    .nav__icon {
        display: initial;
    }

    .show-menu{
        top: var(--header-height)
    }

    .nav__list {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

.hidden{
    visibility: hidden;
}

/*==================== HERO ====================*/
.hero{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: var(--header-height);
}
.slider{
    display: flex;
    width: 400%;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__image{
    display: block;
    width: 100%;
    height: 100%;
}
.slider__title{
    transform: translateY(-200%);
    color: white;
    font-size: 4rem;
    text-align: end;
    margin-right: 30px;
}

.controls{
    display: flex;
    gap: 30px;
    transform: translateY(-150%);
    justify-content: center;
}
.control{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    background: white;
}
.control:hover{
    background: lightgray;
}

/*==================== EXPERIENCE ====================*/
.experience{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.experience__container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 720px) {
    .experience__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1085px) {
    .experience__container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.experience__button{
    text-decoration: underline;
}
.experience__content{
    padding: 0 1.5rem;
    text-align: center; 
}
.img__container{
    height: 250px;
}
.experience__image {
    width: 100%;
    height: 250px;
    border-radius: .5rem;
    object-fit: cover;
}
.experience__technology__list{
    text-align: start;
    padding: 10px;
    list-style: circle;
}
.experience__technology__list__title{
    font-weight: 600;
    text-decoration: underline;
}
.experience__list{
    gap: 1.5rem;
}
.experience__item{
    width: 100%;
}

/*==================== ABOUT ME ====================*/
.about__me{
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    background-color: antiquewhite;
}
.about__me__container{
    text-align: center;
}
.about__me__data{
    display: grid;
    padding-top: 30px;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}
.about__me__image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 500%;
}

/*==================== SKILLS ====================*/
.skills{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: darkseagreen;
}
.skills__container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 720px) {
    .skills__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1085px) {
    .skills__container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.skill__list{
    text-align: center;
}
.skills__info{
    width: 50%;
}
.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: blue;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

/*==================== CONTACT ME ====================*/
.contact{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.contact__container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 800px) {
    .contact__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.personal__information{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.external__icon{
    font-size: 1rem;
    margin-left: 5px;
}
.social__media__icon{
    font-size: 2rem;
    margin: 0 1.5rem;
}
.contact_item{
    margin-bottom: 1.5rem;
}
.contact__form{
    text-align: center;
}
.contact__content{
    text-align: start;
    border-radius: .5rem;
    margin-bottom: .5rem;
}
.contact__inputs{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
.contact__input{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    font-family: var(--body-font);
    border: none;
    outline: none;
    padding-top: 10px;
    font-size: 15px;
    text-align: start;
    align-self: center;
}